<div class="containerAnswer">
  <h1>Stupid Coaching</h1>
  <div class="containerUserInput">
    <p><%= @user_input %></p>
    <p><i>-You</i></p>
  </div>
  <div class="containerAnswerCoach">
    <h3><%= @answer_coach %></h3>
    <p><i>-Your coach</i></p>
  </div>
  <%= link_to "Ask a new question", ask_path%>
</div>
